nav {
    background-color: rgb(20, 28, 69, 0.85);
    box-shadow: 0px 7px 30px 11px #151d45;
    border-bottom: solid 2px #141d45;
    text-decoration: none;
    box-sizing: border-box;
    padding: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 12%;
  }
  
  .nav-links {
    align-items: center;
    display: flex;
  }
  
  nav a {
    color: #f0f2f5;
    text-decoration: none;
    text-align: center;
    padding-right: 85px;
  }