nav {
    background-color: rgb(255 255 255 / 40%);
    /* box-shadow: 1px -4px 20px 20px #ffffffa3; */
    text-decoration: none;
    box-sizing: border-box;
    padding: 30px;
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    min-height: 12%;
    z-index: 1;
  }
  .nav-links {
    align-items: center;
    display: flex;
  }
  
  nav a {
    font-weight: 600;
    font-family: 'FontAwesome';
    text-shadow: -4px 0px 4px black;
    color: #f0f2f5;
    text-decoration: none;
    text-align: center;
    font-size: 1.35em;
    margin: 0 2%;
    letter-spacing: 5px;
  }

  ul{
    width: 100%;
  }

  .nav-logout {
    font-weight: 800;
    font-family: 'FontAwesome';
    margin-left: auto;
    min-width: 10%;
    text-align: right;
    text-shadow: -3px 0px 0px black;
    letter-spacing: 5px;
  }