*{
  padding-left: 0px;
}

#root{
  height:100vh;
  width:100vw;
  font-family: "Exo 2", sans-serif;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* nav{
  z-index: 1;
} */

.card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 75%;
  margin-top:5% ;
}

.card-title-search-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card-title, .search{
  margin: 0 5%
}



.card{
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 10%;
}

.card-list{
  margin: 0 10%;
  height: 100%;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

a:hover{
  color: #646cff;
}



h1 {
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


