*{
  padding-left: 0px;
}

#root{
  height:100vh;
  width:100vw;
  font-family: "Exo 2", sans-serif;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* nav{
  z-index: 1;
} */

.card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  width: 75%;
  margin-top: 5%;
  border: 2px black solid;
}

.card-title-search-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card-title, .search{
  margin: 0 5%;
  font-size: 1.5em;
  width: 100%;
}

.card{
  display: flex;
  margin: 5% 0 0 12%;
  flex-direction: column;
  align-items: center;
  text-align: left;
  min-height: 10%;
  max-width: 75%;
  border: 2px black solid;
}

.card-body{
  width: 100%;
  margin: 0;
  padding: 10px 0;
}

.jobs-comp-name{
  text-align: left;
  width: 100%;
}

.card-list{
  margin: 0 10%;
  height: 100%;
  overflow: scroll;
  scrollbar-width: none;
  border: 2px black solid;
}


/* HOME STYLING */

.home-card{
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 10%;
  transform: translateY(-80px);
}

.home-card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 75%;
  justify-content: center;
}

.home-btn-container{
  display: flex;
}

.home-btn{
  text-decoration: none;
  margin: 0 8px;
  width: 100px;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

a:hover{
  color: #646cff;
}



h1 {
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


